<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>baila romm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" rev="stylesheet" href="css/styles.css" charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="contact">
	<div class="page">
		<div id="bsd">
		</div>
			<h1> <a href="home.html"><img src="images/logo.png"> </a> </h1>
	        <nav> 
	          </ul> 
	                 <li><a href="home.html">home</a></li>
	                 <li><a href="about.html">about</a></li>
	                 <li><a href="art.html">art</a></li>
	                 <li class="active"><a href="contact.html">contact</a></li>
	            </ul>
	        </nav> 
	       	<div id="content">
		        <ul id="menu">
		        	<li> 310-663-8560 </li>
		        	<li> info@bailaromm.com </li>
		        </ul>
			<ul class="social">
				<li id="imdb"> <a href="http://www.imdb.com/name/nm0759154/" target="_blank"><img src="images/imdb.png"></img></a></li>
				<li> <a href="http://linkd.in/1uzUZeO" target="_blank"><img src="images/linkedin.png"></img></a></li>
			</ul>
		    </div>
		
	</div>	
</body>
</html>