<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>baila romm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" rev="stylesheet" href="css/styles.css" charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="memoir">
	<div class="page">
		<div id="bsd">
			
		</div>
			<h1> <a href="home.html"><img src="images/logo.png"> </a> </h1>
	        <nav> 
	          </ul> 
	                 <li><a href="home.html">home</a></li>
	                 <li><a href="about.html">about</a></li>
	                 <li class="active"><a href="art.html">art</a></li>
	                 <li><a href="contact.html">contact</a></li>
	            </ul>
	        </nav> 
	        <div id="content">
	        	<h2>  <img src="images/memoir.png" width="300">  </h2> 
	        	<ul id="memoirmenu">
	        		<li class="active"> <a href="memoir.html">Growing Up Normal</a> </li>
	        		<li> <a href="memoir2.html">Hey Fatty</a> </li>
	        		<li> <a href="memoir2.html">Fantasy, Reality, Nightmares and Astral Projection </a> </li>
	        	</ul>
		        <div class="col">
			        <img src="images/bailarommselfie.jpg" width="400px">
			    </div>
			    <div class="col">
			    	<ul id="excerpt">
				    	<li>When I was growing up, my family it was very chaotic.  My parent’s were always fighting.  My Father was a rage-a-holic.  My Mother was a liar and a cheat.  My Father cheated on her too. </li>
						<li>At night I would hear my father screaming in his rage at mu Mother.  The crashing sounds of furniture breaking, glass breaking, my father’s punches landing on my Mother soft body sounded like death.  I tried to shut out her screams and moaning and crying for him to stop. She couldn’t escape, but I could.  I taught myself how to leave my body and travel far away a place where Iliya Kuriakan, the hunky blonde guy from “The Man from Uncle” would lift me out of my bed a whisk me off into safety.</li>
						<li>I wonder now why it never occurred to me to call for help.  I never considered calling the Police.  </li>
						<li>At diner time, I was subjected to silence as we ate the canned green beans overheated and mushy from the fire, the Macy’s Bamberger’s grilled steak and a baked potato.  My father had to watch the six o’clock news. I never had much of an appetite. We never got desert. </li>
						<li>On one occasion I clearly remember my Father picking up the just cooked roast beef he had been carving and heaving it across the room at us with the huge steely knife still in it. </li>
						<li>There was the road rage anytime we were travelling by car.  No seatbelts back then.  I always prayed that we wouldn’t die in a fiery crash on the New York State Thruway.</li>
						<li>I didn’t have many friends and I wasn’t very popular. Looking back at that time, I imagine I must have given off a pheromone scent that marked me as damaged, hurting and depressed.  </li>
						<li>My parents worked full time to afford the lifestyle they never could afford growing up.  I was a latch key kid.  Our black maid was sometimes home when I came back from school. Lou.  My Father loved that lady.  It was weird, She had no teeth and she smiled like she had a mega watt light bulb inside of her.  Her few remaining teeth blazed white against the strong contrast of her very black skin.</li>
						<li>My brother was keen on emulating my Father’s behavior towards my Mother.  So he enjoyed beating the shit out of me for no apparent reason.  I eventually learned that if I kicked him hard in the nuts he would be temporarily disabled so I could run away.  I usually ran to the beach.  We lived a block away from the ocean.  It was always there to calm me; the waves lulled me into solitude and peace.  The salty air stung my eyes even as I cried.  I would walk and walk for miles on the beach just wishing I could keep walking forever as the waves crashed loudly and mercilessly as it pounded the shore.  It never mattered to me what the weather was.  Even when the skies were gray and the clouds squeezed out there torrents of water onto me, or the snow and wind chaffed my cheeks raw and my lips split.  Lighting and thunder never frightened me.  I knew what real fear was. </li>
						<li>The pain of the elements was oh so much better than the pain at home.</li>
						<li>My Father was really two people.  He was amazingly kind and generous to anyone who needed anything.  People loved Marty.  When he wasn’t in a crazed maniacal rage, he was funny and warm and supportive.  He would give you the shirt off his back.  He was kinder to strangers than to his own family.</li>
						<li>He was a womanizer and a misogynist. He loved and hated us all at the same time.  Our home was a well-concealed prison that looked normal from the outside.  They hid it well.  Always smiling and laughing as a loving couple socially.  Just beneath the veil of normalcy was a raw and bleeding family pretending we were all right.</li>





			    	</ul>
			    </div>
		</div>
	</div>	
</body>
</html>