<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>baila romm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" rev="stylesheet" href="css/styles.css" charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="reel">
	<div class="page">
		<div id="bsd">
		</div>
			<h1> <a href="home.html"><img src="images/logo.png"> </a> </h1>
	        <nav> 
	          </ul> 
	                 <li><a href="home.html">home</a></li>
	                 <li><a href="about.html">about</a></li>
	                 <li class="active"><a href="art.html">art</a></li>
	                 <li><a href="contact.html">contact</a></li>
	            </ul>
	        </nav> 
	       	<div id="content">
					 <video width="720" height="480" controls>
						  <source src="reel.webm" type="video/webm">
						  <source src="reel.ogg" type="video/ogg">
						  <source src="reel.mp4" type="video/mp4">
							Your browser does not support the video tag.
					</video> 

		    </div>
	</div>	
</body>
</html>